svg, text {
    font: 12px MONOSPACE;
    fill: black;
}


.axis text {
    text-shadow: 0 2px 0 #fff, 2px 0 0 #fff, 0 -2px 0 #fff, -2px 0 0 #fff;
}
path.data {
    fill: none;
}

.axis,
.frame {
    shape-rendering: crispEdges;
}
.form-control, label {
    text-align: center;
    display: inline-grid;
    font-size: 13px;
}

.window-content{
    max-width:200px;
    max-height: 150px;
}

/*icon delete over*/
span.icon-trash:hover{
    color: mediumvioletred;
}

/*icons menu interactions*/
.icons{
    margin: 12px;
    width: 30px;
    height: 30px;
}

.icons:hover{
    background-color: #999999;
    margin: 12px;
    width: 30px;
    height: 30px;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

div.menuColor{
    background-color:#ccc;
    padding-top: 15px;
    padding-bottom: 10px;
}

div.menuHie{
    background-color: #ccc;
    padding-top: 15px;
    padding-bottom: 10px;
}


div.menuFilter{
    background-color:#ccc;
    padding-top: 15px;
    padding-bottom: 10px;
}

div.menuDefault{
    background-color:#ccc;
    padding-top: 15px;
    padding-bottom: 10px;
}


div.menu-filter_dimension{
    background-color:#ccc;
    padding-top: 15px;
    padding-bottom: 10px;
}


div#details{
    background-color:#ccc;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 20px;
}

/*menus retrateis*/


#sortable {
    padding: 0px;

}

li.list-group-item {
    padding: 5px;
    font-size: 12px;
    color: rgb(65, 65, 66);
    border: 1px solid rgb(221, 221, 221);
    border-radius: 10px;
    background-color: #fbfaf9;

}

.svgSelectionElement{
    stroke-dasharray: 5;
    animation: dashoffsetanim 5s linear;
    animation-iteration-count:infinite;
}

@keyframes dashoffsetanim {
    to {
        stroke-dashoffset: 200;
    }
}