svg, text {
    font: 12px MONOSPACE;
    fill: black;
}


.axis text {
    text-shadow: 0 2px 0 #fff, 2px 0 0 #fff, 0 -2px 0 #fff, -2px 0 0 #fff;
}
path.data {
    fill: none;
}

.axis,
.frame {
    shape-rendering: crispEdges;
}
.form-control, label {
    text-align: center;
    display: inline-grid;
    font-size: 13px;
}

.window-content{
    max-width:200px;
    max-height: 150px;
}

/*icon delete over*/
span.icon-trash:hover{
    color: mediumvioletred;
}

span.icon-cancel{
    margin: 10px;
}

span.icon-cancel:hover{
    color: mediumvioletred;
}

span.icon-minus:hover{
    color: #ffffff;
}

span.icon-plus:hover{
    color: #1eed12;
}


/*icons menu interactions*/
.icons{
    margin: 12px;
    width: 30px;
    height: 30px;
}

.icons:hover{
    background-color: #999999;

}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

div.menu-acordion{
    background-color: #ccc;
    padding-top: 15px;
    padding-bottom: 10px;
}

/*!*menus retrateis*!*/

#sortable {
    padding: 0px;
}

li.list-group-item {
    padding: 5px;
    font-size: 12px;
    color: rgb(65, 65, 66);
    border: 1px solid rgb(221, 221, 221);
    border-radius: 10px;
    background-color: #fbfaf9;

}

.svgSelectionElement{
    stroke-dasharray: 5;
    animation: dashoffsetanim 5s linear;
    animation-iteration-count:infinite;
}

@keyframes dashoffsetanim {
    to {
        stroke-dashoffset: 200;
    }
}

/*cometarios css*/
/*---------------------------------------------*/
.box:before
{
    border-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 8px 8px 0;
    bottom: -8px;
    content: "";
    display: block;
    left: 20px;
    position: absolute;
    width: 0;
}
.box:after {
    border-color: #82822f rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 6px 6px 0;
    bottom: -6px;
    content: "";
    display: block;
    left: 22px;
    position: absolute;
    width: 0;
}
.box {
    opacity: 0.9;
    background:lightgoldenrodyellow;
    border: 1.9px dashed #4e4e4e;
    border-radius: 5px;
    position: relative;
    width:120px;
    height:90px;

}

.comment{
    resize: none;
    border:none;
    margin:10px;
    width: 80%;
    height: 70%;
    font-size:16px;
    background: none;
    color: #404040;
    font-family: "Ubuntu-Italic", "Lucida Sans", helvetica, sans;

}

/* Let's get this party started */
.comment::-webkit-scrollbar {
    width: 12px;
}

/* Track */
.comment::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
.comment::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(77,166,255,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.comment::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(77,166,255,0.4);
}
